body {
    margin: 0;
    overflow: hidden;
}

#cvs {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #169FE6, #39D1FF);
}

/* 
@font-face {
    font-family: 'digital';
    src: url(./digital.ttf);
} */